# fly.toml app configuration file generated for songswap-api on 2026-02-25T19:40:09+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'songswap-api'
primary_region = 'fra'

[build]
  dockerfile = "Dockerfile.backend"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
